**.orig
*.rbc
*.sassc
*~
.bundle
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/database.yml
db/*.sqlite3
log/*.log
pickle-email-*.html
rerun.txt
run
tmp/
