<!DOCTYPE html>
<html>
<head>
  <title>Ravenhill</title>
  <!-- Changed by: Michael Richardson, 20-Nov-2011 -->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
